@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI");
}

:root{
  --SonicS: #707171;
  --grayX:#b7b7b8;
  --platinum:#ececec;
  --lava:#c52126;
  --bblue:#3b5e94;
  --verde: #69B451;
  --turquesa: #348F9E;
}

#contenedor{
    display: flex;
    flex-direction: row;
}
#columnaizquierda{
    height: 100vh;
    width: 20vw;
    background-color: #FFFF;
}
#columnaderecha{
    height: 100vh;
    width: 20vw;
    background-color: #FFFF;
}
#columnacentral{
    height: 100vh;
    width: 60vw;
    background-color: #DFDFDF;
    flex-direction: column;
}
#espacioseguro{
    width: 100vw;
    height: 10vh;
    background-color: #DFDFDF;
}
.publicacion{
    width: 60vw;
    min-height: 40vh;
    background-color: indianred;
    margin-bottom: 3px;
}
#menuizquierda{
    width: 100vw;
    height: 75vh;
    /*background-color: mediumpurple;*/
    margin-top: 50px;
}
#menuderecha{
    width: 100vw;
    height: 75vh;
    /*background-color: mediumpurple;*/
    margin-top: 50px;
}
.cont-publicacion{
    width: 30vw;
    height: 40vh;
    background-color: darkred;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
/*Michelle*/
.imgPerfil{
    height: 170px;
    width: 175px;
    border-radius: 100%;
}
#menuizqopciones{
    color: white;
}
.botonizq{
    background-color: #3B5F93;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
}
.fa-plus{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
}
.imgSugerencia{
    border-radius: 100%;
    height: 44px;
}
#mdspersonas .botonder{
    background-color: #3B5F93;
    border-radius: 5px;
    padding: 4px 25px;
    color: white;
    font-weight: 500;
    font-size: 13px;
}

/*Christian*/
.flex-container {
  display: flex;
}

#contenedor-post-fondo {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(183, 183, 184, 0.5);
    position: absolute;
    justify-content: center;
    align-items: center;
}

#contenedor-post {
    display: flex;
    flex-direction: row;
    width: 1680px;
    height: 800px;
    /*margin-left: 120px;
    margin-top: 120px;*/
    position: relative;
}

#image-post {
    background-color: white;
    width: 1120px;
    height: 800px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#comments-post {
    background-color: var(--grayX);
    width: 560px;
    height: 800px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-left: 2px solid var(--SonicS);
}

#imagenPP1 {
    border-radius: 100%;
    box-shadow: rgba(112, 113, 113, 0.7) 3px 3px;
    margin-right: 25px;
}

.cont1 {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    align-items: center;
}

.texto1 {
    margin-top: 10px;
}

.boton {
    background-color: #3B5F93;
    color: white;
    border-radius: 15px;
    border-style: solid;
    width: 250px;
    height: 60px;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.boton1 {
    justify-self: flex-end;
    margin-right: 40px;
}

.imagen-post {
    display: flex;
    justify-content: center;
    height: 580px;
}

#imagenP {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto-post {
    border-bottom: 2px solid var(--SonicS);
}

.texto2 {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.iconos-post {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

.icono {
    color: var(--SonicS);
    font-size: 25px;
}

.icono-comment {
    color: var(--SonicS);
    font-size: 25px;
    margin-right: 25px;
    margin-top: 5px;
}

.texto-icono {
    margin-left: 7px;
    margin-right: 10px;
}

#lista {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 270px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border-bottom: 2px solid var(--SonicS);
}

.comment {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 130px;
    max-width: 670px;
    display: flex;
    align-items: center;
    color: #09090A;
    border-radius: 5px;
    border-bottom: 1px solid var(--SonicS);
}

#lista-new-comment {
    background-color: white;
    height: 63px;
    border-bottom-right-radius: 5%;
}

.texto-comentario {
    padding-left: 50px;
    padding-top: 17px;
    color: var(--SonicS);
}

.imagenP2 {
    border-radius: 100%;
    box-shadow: rgba(112, 113, 113, 0.7) 3px 3px;
    margin-bottom: 35px;
    margin-right: 15px;
}

.comment-dots {
    margin-right: 40px;
}

.invisible {
    display: none !important;
}

.derecha {
    margin-left: auto !important;
}

body {
   height: 100%;
   overflow-y: hidden;
}