body {
  font-family: "Roboto", sans-serif;
  background-color: #ffff;
} 


#ventanaPublicar{
  display: flex;
  justify-content: center;
}

.content{
  background-color: #ececec;
  width: 900px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #707171;
  /*
  margin-left: 80px;
  margin-top: 220px;
  */
}

.borde{
  border-bottom: solid;
  border-color: #707171;
  border-width: 2px;
}

.btn-blue{
    background-color: #3b5e94;
    color: #fff;
    padding: 10px 15px;
    border-width: 0;
    min-width: 150px;
    font-weight: 600;
}

.btn-red{
  background-color: #c52126;
  color: #fff;
  padding: 10px 15px;
  border-width: 0;
  min-width: 150px;
  font-weight: 600;
}

h1{
  font-weight: 400;
  font-size: 28px;
  padding-left: 20px;
}

h2{
  font-size: 48px;
  text-align: center;
      margin-top: 60px;
    margin-bottom: 10px;
}

.arrastrarArchivo{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.arrastrarArchivo p{
  text-align: center;
  margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
}

.seleccionarArchivo{
  display: flex;
  justify-content: center;
}

.publicarCancelar{
  display: flex;
    justify-content: flex-end;
}

.publicarCancelar input{
  margin: 20px 25px;
 
}

.descripcionInput{
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.descripcionInput input{
  width: 100%;
    background-color: #ececec;
    border-width: 0;
    padding: 0 10px;
}

.descripcionInput i{
  font-size: 28px;
    color: #707171;
}

::placeholder{
 color: #707171 ;
 font-size: 18px;
}
